In [2]:
import os
import faiss
import pandas as pd
from sqlalchemy import create_engine
from sqlalchemy.orm import sessionmaker
from app.database.models import Book, User, Badge
from app.database.crud import create_book, get_books
from sqlalchemy import text
from dotenv import load_dotenv

load_dotenv()

MYSQL_USER = os.getenv('MYSQL_USER')
MYSQL_PASSWORD = os.getenv('MYSQL_PASSWORD')
MYSQL_HOST = os.getenv('MYSQL_HOST')
MYSQL_PORT = os.getenv('MYSQL_PORT')
MYSQL_DB = os.getenv('MYSQL_DB')

# ë°ì´í„°ë² ì´ìŠ¤ ì—°ê²° ì„¤ì •
DATABASE_URL = f"mysql+pymysql://{MYSQL_USER}:{MYSQL_PASSWORD}@{MYSQL_HOST}:{MYSQL_PORT}/{MYSQL_DB}"
engine = create_engine(DATABASE_URL)
SessionLocal = sessionmaker(autocommit=False, autoflush=False, bind=engine)

# ë°ì´í„°ë² ì´ìŠ¤ ì„¸ì…˜ ìƒì„±
mysql_db = SessionLocal()

In [3]:
result = mysql_db.execute(text("SHOW CREATE TABLE badges"))
table_structure = result.fetchone()[1]  # ê²°ê³¼ì—ì„œ BADGE TABLE êµ¬ë¬¸ ê°€ì ¸ì˜¤ê¸°
print(table_structure)  # í…Œì´ë¸” ìƒì„± SQL ì¶œë ¥

CREATE TABLE `badges` (
  `badge_id` bigint NOT NULL AUTO_INCREMENT,
  `user_id` varchar(64) NOT NULL,
  `book_id` bigint NOT NULL,
  `badge_image` varchar(2048) NOT NULL,
  `created_at` timestamp NOT NULL DEFAULT (now()),
  PRIMARY KEY (`badge_id`),
  KEY `user_id` (`user_id`),
  KEY `book_id` (`book_id`),
  CONSTRAINT `badges_ibfk_1` FOREIGN KEY (`user_id`) REFERENCES `users` (`user_id`),
  CONSTRAINT `badges_ibfk_2` FOREIGN KEY (`book_id`) REFERENCES `books` (`book_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci

In [4]:
result = mysql_db.execute(text("SHOW CREATE TABLE users"))
table_structure = result.fetchone()[1]  # ê²°ê³¼ì—ì„œ BADGE TABLE êµ¬ë¬¸ ê°€ì ¸ì˜¤ê¸°
print(table_structure)  # í…Œì´ë¸” ìƒì„± SQL ì¶œë ¥

CREATE TABLE `users` (
  `user_id` varchar(64) NOT NULL,
  `birth_year` varchar(4) NOT NULL,
  `gender` enum('M','F') NOT NULL,
  PRIMARY KEY (`user_id`),
  CONSTRAINT `chk_birth_year_format` CHECK (((length(`birth_year`) = 4) and regexp_like(`birth_year`,_utf8mb4'^[0-9]{4}$')))
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci

In [5]:
def alter_badge_table(db):
    try:
        # `badge_audio_url` ì»¬ëŸ¼ ì‚­ì œ
        db.execute(text("ALTER TABLE badges DROP COLUMN badge_audio_url"))

        db.commit()
        print("ğŸš€ [ìˆ˜ì • ì™„ë£Œ] `badge_audio_url` ì»¬ëŸ¼ì´ ì‚­ì œë˜ì—ˆìŠµë‹ˆë‹¤!")
    except Exception as e:
        db.rollback()
        print(f"âŒ [ì˜¤ë¥˜ ë°œìƒ] {e}")

# ì‹¤í–‰
alter_badge_table(mysql_db)

ğŸš€ [ìˆ˜ì • ì™„ë£Œ] `badge_audio_url` ì»¬ëŸ¼ì´ ì‚­ì œë˜ì—ˆìŠµë‹ˆë‹¤!

In [10]:
def alter_users_table(db):
    try:
        # `name`, `phone_number`, `email` ì»¬ëŸ¼ ì‚­ì œ
        db.execute(text("ALTER TABLE users DROP COLUMN name"))
        db.execute(text("ALTER TABLE users DROP COLUMN phone_number"))
        db.execute(text("ALTER TABLE users DROP COLUMN email"))

        db.commit()
        print("ğŸš€ [ìˆ˜ì • ì™„ë£Œ] `name`, `phone_number`, `email` ì»¬ëŸ¼ì´ ì‚­ì œë˜ì—ˆìŠµë‹ˆë‹¤!")
    except Exception as e:
        db.rollback()
        print(f"âŒ [ì˜¤ë¥˜ ë°œìƒ] {e}")

# ì‹¤í–‰
alter_users_table(mysql_db)

âŒ [ì˜¤ë¥˜ ë°œìƒ] (pymysql.err.OperationalError) (1091, "Can't DROP 'name'; check that column/key exists")
[SQL: ALTER TABLE users DROP COLUMN name]
(Background on this error at: https://sqlalche.me/e/20/e3q8)